@font-face {
    font-family: 'FiraCode';
    src: url('assets/FiraCode-Regular.ttf');
}

* {
    font-family: 'firaCode';
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.red {
    color: #BA3F3F;
}

.blue {
    color: #3F5BBA;
}

.logo {
    font-size: 1em;
    text-shadow: 1px 1px #3f3f3f;
    float: left;
}

