<footer>
    <div class="redes-sociais">
        <a href="https://www.youtube.com/channel/UCULzSTxbJ4TmzjwcuAnzi_A" class="redes-sociais-icons" target="__blank" ><img src="../assets/img/youtube-brands.png" alt="Youtube icon"
            title="Youtube icon"></a>
    <a href="https://twitter.com/lexandresl" class="redes-sociais-icons" target="__blank" ><img src="../assets/img/twitter-brands.png" alt="twitter icon"
            title="twitter icon"></a>
    <a href="https://github.com/Alexandresl" target="__blank" class="redes-sociais-icons"><img src="../assets/img/github-brands.png" alt="github icon"
            title="github icon"></a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/script.js"></script>
