<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <span class="logo logoP1">alexandreLima</span>
          <span class="logo">.</span>
          <span class="logo logoP2">dev()</span>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% for page in site.pages %}
          
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          
          {% endfor %}
          <!-- <li><a href="">Home</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Portfólio</a></li>
          <li><a href="">Sobre</a></li> -->
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    {% for page in site.pages %}
      {% if page.title != undefined %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <header class="header-paralax">
    <span class="header-title">
      <div>Alexandre Lima</div>
    </span>
    <span class="header-text">
      <div>Desenvolvedor Web</div>
    </span>
  </header>