---
layout: default
page: Home
---
<section>
    {% if site.posts.size == 0 %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Nenhum post encontrado!</h4>
    {% else %}
    <ul>
        {% for post in site.posts %}
        <li class="row">
            <div class="topic topic-js col s2">
                <a href="">JS</a>
            </div>
            
            <div class="title-topic col s10">
                <a href="{{ post.url | prepend: post.baseurl }}">{{ post.title }}</a>
            </div>
            
            <div class="resume-topic col s10">
                <a href="{{ post.url | prepend: post.baseurl }}">{{ post.summary }}</a>
            </div>
            
            <div class="date-topic col s12">
                    <span>{{ post.date | date_to_string }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>